footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.footer__container {
    background-color: #cfcba0;
    width: 400px;
    min-width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 4rem 4rem 0 0;
    height: 2rem;
    padding: 0 2rem;
}

.footer__text {
    margin: 0;
    padding: 0 0 .3rem 0;
    font-size: .9rem;
    color: rgb(45, 45, 45);
}

.footer__state {
    font-weight: 600;
}

@media (max-width: 1024px) {
    .footer__text {
        font-size: .8rem;
    }

    .footer__container {
        padding: 0 1rem;

    }
}